.backgroundimg {
  background-image: url(https://i.ibb.co/px88M0n/wepik-20211010-14198.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 70vh;
}
/* bannersection 2 */
.background-banner {
  background-image: url(https://i.ibb.co/FKDrgLS/bg-ptn.jpg);
  clip-path: polygon(49% 0%, 100% 0%, 100% calc(203% - -63vh), -14% -43%);
  height: 70vh;
  position: relative;
}
.backgroundimg3 {
  background-image: url(https://i.ibb.co/HPp1v4f/banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.banner-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-heading h2 {
  font-weight: bold;
  color: #fa8b6e;
}
.background-banner p {
  color: #777777;
}

.products {
  text-align: center;
  font-size: 55px;
  margin-top: 20px;
  position: relative;
  font-weight: bold;
}
.products::before {
  content: "";
  width: 200px;
  height: 11px;
  margin-top: 41px;
  position: absolute;
  background-color: #fa8b6e;
  margin-left: -225px;
}
.products::after {
  content: "";
  width: 200px;
  height: 11px;
  margin-top: 41px;
  position: absolute;
  background-color: #fa8b6e;
  margin-left: 22px;
}
.product-name {
  margin-bottom: 3px;
  font-size: 15px;
}
.product-name:hover {
  color: #fa8b6e;
}
.css-1a7a1ce-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  min-height: 10% !important;
  background-color: #fff !important;
}
.css-1d9c4l9-MuiDrawer-docked .MuiDrawer-paper {
  box-sizing: border-box;
  width: 15% !important;
  box-shadow: 4px 0px 8px 0px rgba(36, 36, 36, 0.685);
  background: linear-gradient(to left, #d45f42, #f75a33);
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  box-shadow: 4px 0px 8px 0px rgba(36, 36, 36, 0.685);
  background: linear-gradient(to left, #d45f42, #f75a33);
}
.css-i4bv87-MuiSvgIcon-root {
  box-shadow: 4px 0px 8px 0px rgba(36, 36, 36, 0.685);
  background: linear-gradient(to left, #d45f42, #f75a33);
}
.dashboard-link a {
  margin-top: -15px;
  padding: 10px 30px;
  text-align: left;
  font-size: 18px;
  display: block;
  color: white;
  text-decoration: none !important;
}
.user-Info {
  background-color: white;
  color: #fa8b6e;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

/* ;login */
.form {
  padding: 15px;
  border-radius: 20px;
}
.loginbtn {
  background-color: #bebebe;
  padding: 10px 30px;
  margin-top: 20px;
  color: rgb(107, 107, 107);
  font-size: 20px;
  border: none;
}
.loginbtn:hover {
  background-color: #d45f42;
  color: white;
  transition: 0.6s;
}
.googleBtn {
  border: 2px solid #bebebe;
  padding: 10px 25px;
  border-radius: 20px;
  margin-top: 10px;
}
.googleBtn span {
  font-size: 20px;
  font-weight: bold;
  color: #d45f42;
}
.googleBtn img {
  width: 30px;
  margin-right: 30px;
}

.banner_section3 {
  background-image: url(https://i.ibb.co/HPp1v4f/banner-2.jpg);
}
.column-icon i {
  border: 2px solid rgb(133, 133, 133);
  padding: 50px;
  border-radius: 100px;
  color: #bebebe;
}
.column-icon i:hover {
  background-color: #fa8b6e;
  transition: 0.8s;
  color: white;
  text-shadow: 5px 2px 1px black;
}
.col.column-icon:before {
  content: "";
  display: inline-flex;
  background: white;
  width: 191px;
  height: 2px;
  position: absolute;
  margin-top: 58px;
  margin-left: 124px;
}

.column-icon-last-child i {
  border: 2px solid #bebebe;
  padding: 50px;
  border-radius: 100px;
  color: #bebebe;
}
.column-icon-last-child i:hover {
  background-color: #fa8b6e;
  transition: 0.8s;
  color: white;
  text-shadow: 5px 2px 1px black;
}
.easy-steps {
  margin-left: 90px;
  margin-top: 120px !important;
}
.row_text {
  width: 75%;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
}
.row_text h2 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 5px 1px 2px black;
}
.row_text p {
  font-size: 18px;
}

/* --------------------------------------------------------
------------------------------------------------------------ */
/* On screens that are 992px or less, set the background color to olive  */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive  */
@media screen and (max-width: 668px) {
  .products {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .products::before {
    width: 82px;
    margin-left: -111px;
  }
  .products::after {
    content: "";
    width: 43px;
    height: 11px;
    margin-top: 41px;
    position: absolute;
    background-color: #fa8b6e;
    margin-left: 6px;
  }
  .backgroundimg {
    background-image: url(https://i.ibb.co/px88M0n/wepik-20211010-14198.png);
    background-size: cover;
    background-attachment: unset;
    height: 50vh;
  }
  .background-banner {
    background-image: url();
    clip-path: none;
    height: 0vh;
    position: relative;
  }
  .banner-heading {
    position: static;
    margin-left: -23px;
    margin-top: 200px;
  }
  .banner-heading h2 {
    font-size: 20px;
    color: white;
  }
  .banner-heading p {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
  .banner-heading h2,
  p {
    width: 100%;
    color: white;
  }
  .easy-steps {
    margin-left: 0px;
    margin-top: 0px;
  }
  .backgroundimg3 {
    height: 70vh;
  }
  .row_text {
    width: auto;
    margin-left: 0px;
    margin-top: 8px;
    box-shadow: none;
    margin-bottom: -19px;
  }

  .row_text h2,
  p {
    font-size: 16px;
    font-weight: 300;
  }
  .column-icon i {
    padding: 25px;
    border: 2px solid #bebebe;
    padding: 20px;
    border-radius: 0px;
  }
  .column-icon p {
    font-size: 14px;
    margin-bottom: -3px;
  }
  .column-icon-last-child i {
    padding: 25px;
    border: 2px solid #bebebe;
    padding: 20px;
    border-radius: 0px;
  }
  .column-icon-last-child p {
    font-size: 14px;
  }
  .col.column-icon:before {
    content: "";
    display: inline-flex;
    background: white;
    width: 0px;
    height: 0px;
    position: unset;
    margin-top: 30px;
    margin-left: 0px;
  }
  .col.column-icon:after {
    content: "";
    width: 34px;
    height: 11px;
    margin-top: 41px;
    position: absolute;
    background-color: #fa8b6e;
    margin-left: 6px;
  }
}
